/* After adding fixed-top to the navbar, this will put the ghost element with no content
    to have spacing between navbar and the showcase image
*/
body::before{
    display: block;
    content: '';
    height: 40px
}

/* Medium size screen and bove */

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.bg-primary {
    /* background-color:rgb(126, 202, 160)!important */
    /* background-color: #34568B!important; */
    background-image: linear-gradient(318.68deg, rgb(15, 73, 92) 0%, rgb(13, 54, 64) 49.72%, rgb(8, 20, 31) 100%)
}

.btn-primary{
    background-color:rgb(173, 38, 15);
    border-color:rgb(173, 38, 15)
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color:rgb(173, 38, 15);
    border-color:rgb(173, 38, 15)
}

.btn-primary:hover {
    background-color:rgb(185, 79, 60);
    border-color:rgb(185, 79, 60)
}
