/* After adding fixed-top to the navbar, this will put the ghost element with no content
    to have spacing between navbar and the showcase image
*/
body::before{
    display: block;
    content: '';
    height: 40px
}

/* Medium size screen and bove */

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.bg-primary {
    /* background-color:rgb(126, 202, 160)!important */
    background-color: #34568B!important;
}

.btn-primary{
    background-color:rgb(173, 38, 15);
    border-color:rgb(173, 38, 15)
}
